.inline{
    width: auto;
    height: 50px;
}
.inline ul li{
    display: inline-block;
    padding:0px, 20px;
   
   
}
.inline ul{
    float: right;
    padding-right: 150px;
    padding-bottom: 10px;
   
}
.inline ul li a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 10px;
    font-size: 20px;
}
.inline ul li a:hover{
    color: red;
}
..container{
    width: auto;
    height: 500px;
}
.text-blog{
    width: 40%;
    height: auto;
    float: left;
    padding-left: 100px;
    padding-top: 100px;
}
.img-blog{
    width: 40%;
    height: auto;
    float: right;
    padding-right: 100px;
}
.img-blog img{
    width: 100%;
    
}
.text-blog h1{
    font-size: 50px;
}
.text-hilight{
    color: salmon;
}
.text-blog p{
    font-size: 20px;

}
.link-btn{
    width: 150px;
    height: 50px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg, tomato,salmon);
    border: none;
    border-radius: 10px;

}
.link-btn a{
    color: white;
   font-size: 20px;
   text-decoration: none;

}
.text-blog2{
    width: 40%;
    height: auto;
    float: right;
   margin-bottom: 400px;
   margin-right: 70px;
}
.text-blog2 h1{
    font-size: 40px;
}



.img-blog2{
    width: 40%;
    height: auto;
    float: left;
}
.img-blog2 img{
    width: 100%;
    margin-top: 100px;
    margin-left: 60px;
}

.header{
    width: auto;
    height: 1400px;
}
.medal h1{
    text-align: center;
   padding: 60px 0px 0px 0px;
   font-size: 40px;
}
.medal{
    width: auto;
    height: 800px;
    background-color: #F8F9FC;
}
.medal-perant{
    padding: 370px 0px 0px 0px;
    
}
.pik-1{
    float: left;
    padding: 10px;
    margin-left: 80px;
   box-shadow: 10px 20px 10px gray;
   border-radius: 10px;
}
.pik-1 img{
    width: 300px;
    height: 250px;

}
.img-1 img{
    width: 100%;
    
}
.work img{
    width: 85%;
}
.work{
   margin-top: 100px;
   margin-left: 230px;
   position: absolute;
   z-index: -1;
}
.btn-1 {
   text-decoration: none;
   background-image: linear-gradient(45deg, rgb(31, 81, 219), rgb(71, 157, 255));
   padding: 20px 50px;
   border-radius: 5px;
   color: white;
   font-weight: bold;
   font-size: 25px;
   margin-left: 670px;
   margin-top: 90px;

}
#bg{
   position: absolute;
   left: 0;
   top: 0;
   display: flex;
}
.work img{
    width: 800px;
    height: auto;
    
}
.work button{
    font-size: 20px;
    color: cornsilk;
   width: 100px;
   height: 50px;
   background-color: coral;
   border: none;
   border-radius: 10px;
   position: absolute;
   float: right;
   margin-left: 600px;
   margin-top: 60px;

}
.work h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
}
.work{
    align-items: center;
    margin-left: 300px;
}
.heading{
    margin-left: 100px;
    align-items: center;
}
.heading h2{
    margin-left: 200px;
}
#img-3{
    position: relative;
    margin-top: 70px;
   display: inline-block;
    margin-left: 250px;
    
}
#img-3 img{
    width: 100px;

}